@import "../../assets/styles/servicese";

.root {
  padding-bottom: 36px;
  height: 100%;
}

.formWrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  max-width: 1440px;
  width: 100%;
  height: 106px;

  padding: 20px 40px 40px 40px;
  margin: 0 auto;

  border-top: 1px solid $grey;
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;

  background: $white;

  z-index: 3;
}
