$white: #ffffff;
$black: #000000;
$balck-light: #2c5958;
$grey: #9b9999;
$green-light: #2cbfaa;
$green: #29aa94;
$blue-light: #27c0d6;
$blue-light-transparent: rgba(39, 192, 214, 0.3);
$blue: #258bcc;
